
h1, h2 {
    background-color: navy;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 5px;
    font-size: 20px;
    border-radius: 10px;
}

p {
    margin: 10px;
} 

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: grey;
    border-radius: 10px;
    
}

nav li {
    margin: 0 10px;
    flex: auto;
}

nav a {
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    border: 1px solid lightblue;
    color: lightblue;
}

main {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.card ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.card li {
    margin-bottom: 5px;
}

footer {
    background-color: navy;
    color: white;
    text-align: center;
    padding: 10px;
}
