@media (min-width: 1024px) {
    header .menu-toggle {
      display: none;
    }
  
    header nav {
      display: block;
    }
  
    header nav ul {
      display: flex;
    }
  
    header nav ul li {
      margin-left: 20px;
    }
  
    .grid-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }